body {
	font-family: Orbitron, sans-serif;
	background-color: #ffa8B6;
}

h1 {
	color: white;
}

fieldset {
	color: white;
	background-color: #8458B3;
	font-weight: bold;
}

.title-container {
	text-align: center;
}

legend, span{
	font-size: 20px;
}

table {
	width: 100%;
	text-align: center;
	font-family: Orbitron, sans-serif;
	font-size: 30px;
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
	background-color: #ffa8B6;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

table th,
table td{
	padding: 12px 15px;
}

table tbody tr {
	border-bottom: 1px solid #ffa8B6;
}

table tbody tr:nth-of-type(odd) {
	background-color: #8d6ab4;
	color: #fac7ce;
}

table tbody tr:nth-of-type(even) {
	background-color: #fac7ce;
	color: #8d6ab4;
}

table tbody tr:last-of-type {
	border-bottom: 5px solid #ffa8B6;
}

th, td{
	border: 5px solid #ffa8B6;
}

label{
	font-size: 30px;
	color: #ffa8B6;
}

span{
	font-size: 30px;
	font-weight: bold;
	color: white;
}